<%- include('partials/header') %>

<h1>All Recipes</h1> <a href="/recipes/new" class="btn-add-recipe">+ Add New Recipe</a>
<div class="recipe-list">
  <% recipes.forEach(recipe => { %>
    <div class="recipe-card">
      <div class="recipe-info">
        <h2><a href="/recipe/<%= recipe.id %>"><%= recipe.title %></a></h2>
        <p><strong>Cuisine:</strong> <%= recipe.cuisine %></p>
        <p><strong>Meal Type:</strong> <%= recipe.meal_type %></p>
        <p><strong>Difficulty:</strong> <%= recipe.difficulty %></p>
        <p><strong>By:</strong> <%= recipe.author %></p>
      </div>
    </div>
  <% }) %>
</div>

<%- include('partials/footer') %>



